/Makefile
/RabbitMQ.c
/blib
/pm_to_blib
/tags
*.bs
*.o
MYMETA.*
META.*
MANIFEST
*.swp
*.old
/RabbitMQ.c
.tags
.tags_sorted_by_file
/assertlib*
Net-AMQP-RabbitMQ-*.tar.*
.vagrant/
MANIFEST.bak
.DS_Store
*.sublime-*

.vstags
