sudo: false
language: perl
perl:
  - "5.30"
  - "5.28"
  - "5.26"
  - "5.24"
  - "5.22"
  - "5.20"
  - "5.18"
  - "5.16"
  - "5.14"
  - "5.12"
  - "5.10"
  - "5.8"
os:
  - linux
  - osx
  services: rabbitmq
  before_install:
    - $TRAVIS_BUILD_DIR/travis/before_install
    script:
      - $TRAVIS_BUILD_DIR/travis/script
osx_image: xcode11.3
dist: xenial
addons:
  apt:
    packages:
      - rabbitmq-server
