name: Linux Builds for Net::AMQP::RabbitMQ
on:
  workflow_dispatch:
  push:
    branches: [ main ]
    paths:
      - '**.t'
      - '**.xs'
      - '**.pl'
      - '**.pm'
      - '**.sh'
  pull_request:
    branches: [ main ]
    paths:
      - '**.t'
      - '**.xs'
      - '**.pl'
      - '**.pm'
      - '**.sh'

env:
  COVERALLS_REPO_TOKEN: ${{ secrets.COVERALLS_REPO_TOKEN }}
  MQSSL: ${{ vars.MQSSL }}
  MQSSLCACERT: cacert.pem
  MQADMINCACERT: cacert.pem
  MQSSLHOST: ${{ secrets.MQSSLHOST }}
  MQSSLUSERNAME: ${{ secrets.MQSSLUSERNAME }}
  MQSSLPASSWORD: ${{ secrets.MQSSLPASSWORD }}
  MQSSLPORT: ${{ secrets.MQSSLPORT }}
  MQSSLVHOST: ${{ secrets.MQSSLVHOST }}
  MQHOST: ${{ secrets.MQSSLHOST }}
  MQUSERNAME: ${{ secrets.MQSSLUSERNAME }}
  MQPASSWORD: ${{ secrets.MQSSLPASSWORD }}
  MQPORT: ${{ secrets.MQSSLPORT }}
  MQVHOST: ${{ secrets.MQSSLVHOST }}

jobs:
  perl-versions:
    runs-on: ubuntu-latest
    name: List Perl versions
    outputs:
      perl-versions: ${{ steps.action.outputs.perl-versions }}
    steps:
      - id: action
        uses: perl-actions/perl-versions@v1
        with:
          since-perl: v5.12
          with-devel: false

  linux-tests:
    needs:
      - perl-versions
    name: "Perl v${{ matrix.perl-version }}"
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        perl-version: ${{ fromJSON(needs.perl-versions.outputs.perl-versions) }}

    container:
      image: perldocker/perl-tester:${{ matrix.perl-version }}

    steps:
      - name: Check out code (w/submodules)
        uses: actions/checkout@main
        with:
          submodules: recursive

      - name: Install Perl dependencies
        uses: perl-actions/install-with-cpanm@v1
        with:
          cpanfile: "cpanfile"
          sudo: false
          args: "--with-test"

      - name: Run CI tests
        run: |
          echo "${{secrets.MQSSLCACERT}}" > "${{env.MQSSLCACERT}}"
          sh ./ci/run-ci-tests.sh
        env:
          IS_OSX: false
          NARDEBUG: 1
          PERL_VERSION: ${{ matrix.perl-version }}
